.Question {
  text-align: center;
}

.Question-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Question-link {
  color: #61dafb;
}

button {
  background-color: #00EE06;
  font-size: 20px;
  padding: 15px 32px;
  border-radius: 12px;
}

button:hover {
  background-color: #FF0000;
}

.Question-button-skip {
  background-color: #F4FF00;
  font-size: 20px;
  padding: 15px 32px;
}

.progress-bar {
  background-color: #282c34;
  position: relative;
  height: 20px;
  width: 100%;
  border: 1px solid black;
}

.filler {
 background: #00EE06;
 height: 100%;
 border-radius: inherit;
 transition: width .2s ease-in;
}

a {
  color: #FFF;
}
a:hover {
   color: #00F
}
